@import "../AddOns/functions", "../AddOns/mixins", "../AddOns/variables", "../SCSS/blocks/text-block";

// Sections 
@import "../SCSS/blocks/sections/header";
@import "../SCSS/blocks/sections/preparation";
@import "../SCSS/blocks/sections/favourite";
@import "../SCSS/blocks/sections/gifts";
@import "../SCSS/blocks/card";
@import "../SCSS/blocks/footer";
@import "../SCSS/blocks/sections/coffee";

*,
*::after,
*::before {
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

body {
   font-family: 'Nunito', sans-serif;
   background: #F9FBFF;
}

.container {
   max-width: 1284px;
}

.primary-btn {
   text-decoration: none;
   padding: 0.375rem 0.9375rem;
   background-color: $accent-color;
   color: $light-gray-color;
   border-radius: 1.1875rem;
}

.secondary-btn {
   font-weight: 700;
   font-size: 1rem;
   line-height: 1.375rem;
   text-decoration: none;
   color: #415167;
}

