.footer {
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #EDF0F5;

   .coppy-rights {
      text-decoration: none;
      color: $primary-color;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.375rem;
   }
}